@inherits LayoutComponentBase
@using FinLY.Services
@using FinLY.Models
@inject AuthenticationStateService authStateService

<div class="page">

    @if(authStateService.IsAuthenticated())
    {
        <div>
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
