@page "/debts"

@using FinLY.Models
@using FinLY.Services
@inject AuthenticationStateService AuthService


<div class="top-nav">
    <div class="dash-left-side">
        <p>Welcome, @userName</p>

    </div>
    <div class="dash-right-side">
        <p>@todayDate</p>
    </div>
</div>

<h3>Debts</h3>
@code {
    private string userName;
    private string todayDate;

    protected override void OnInitialized()
    {
        var user = AuthService.GetAuthenticatedUser();
        if (user != null)
        {
            userName = user.UserName; // Assuming 'UserName' is the property of your user model
        }

        todayDate = DateTime.Now.ToString("MMMM dd, yyyy"); // Format today's date as "Month Day, Year"
    }
}
