@page "/login"

<div class="login-container">
    <div class="login-left">
        <div class="illustration">
            <div class="copyright-text"> 2024 Dev. All Rights Reserved</div>
            <img src="~/favicon.png" alt="Illustration" />
        </div>
    </div>
    <div class="login-right">
    <div class="finlylogo">
            <img src="~/favicon.png" alt="Finly Logo" />
            <h1>Welcome Back!</h1>
            <p>Sign in to your acount to continue</p>
    </div>
    <div class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username"/>

        <label for="password">Password</label>
        <input type="password" id="password"/>

            <button class="btn btn-primary">Login</button>

    </div>
    </div>
</div>


@code {

}
